// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.team-picture {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.team-modal-button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.2;
    background: none!important;
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
}

.carousel-caption {
    min-height: 40px;
    color: white;
    background-color: black;
    opacity: 0.5;
    border-radius: 10px;
}


@media (max-width: 768px) {
    .team-name-button {
        display: none!important;
    }
  
}
